@import '_fonts';
@import '_grid';

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}


html, body {
  height: 100%;
}

body {
 	display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
}

h2 {
	color: #000;
  font-family: 'Gotham-Bold';
  font-size: 14px;
  margin: 0 0 2px;
  text-transform: uppercase;
}

a {
	color: #F2645A;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.container {
	height: 677px;
	position: relative;
}

#map {
	height: 100%;
}

.marker {
  background-size: 100%;
  height: 54px;
	margin-top: -27px; //half the icon height
	width: 38px;
}

.mapboxgl-popup-content {
	padding: 10px;
}

.label {
	color: #808080;
  font-family: 'Gotham-Bold';
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: auto;
  .type {
  	font-family: 'Gotham-Book';
  	text-transform: capitalize;
  }
	&.endorsed {
		color: #F2645A;
	}
	&.activated {
		color: #1BB580;
	}
}

#legend {
	color: #666;
  font-family: 'Gotham-Book';
  font-size: 14px;
	left: 40px;
	position: absolute;
	top: 40px;
	z-index: 2;
	.header {
  	font-family: 'Gotham-Bold';
  	font-size: 16px;
  	margin-bottom: 5px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.icon {
		height: 28px;
		padding-right: 5px;
		vertical-align: middle;
	}
}

#panel {
	background-color: #FFF;
	bottom: 20px;
	height: 215px;
	position: absolute;
	right: 20px;
	width: 350px;
	z-index: 2;
	.panel-inner {
		height: 185px;
		margin: 15px;
		overflow-y: scroll;
	}
	table {
		border-spacing: 0;
		border-top: 1px solid #DDD;
		margin: 0 0 20px;
		width: 100%;
		tr {
			text-transform: capitalize;
			vertical-align: top;
			td {
				border-bottom: 1px solid #DDD;
				padding: 2px 0;
				width: 60%;
				&:first-child {
					font-weight: 600;
					width: 40%;
				}
			}
		}
	}
}


@media only screen and (max-width: 767px) {

}
